extends ../layout

block content

    ul.nav.nav-tabs
        li.active
            a(data-toggle='tab', href='/charities') Manage Charitiesffff

      form(action='/manage', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        table.table.table-hover.table-bordered
          thead
            tr
              th #
              th Charity
              th Monthly Donations?
          tbody
            tr
              td 1
              td
                strong
                    p DonateCheck  &nbsp;
                        a(href='#{user.charlinks.hrc}' style='font-size:16px;')
                           i.ion-information-circled
                p kfjdsj;fsdkfjslkjdf;lksjdf

              td
                .form-group2(style="margin-left: 30px;")
                    label.radio(style="color:green;vertical-align: top;")
                      input(type='radio', checked=user.charities.donatecheck=='1', name='donatecheck', value='1', data-toggle='radio')
                      span Yes.
                    label.radio(style="color:red;vertical-align: top;")
                      input(type='radio', checked=user.charities.donatecheck=='0', name='donatecheck', value='0', data-toggle='radio')
                      span No.
            tr
              td 2
              td
                strong
                    p Human Rights Campaign &nbsp;
                        a(href='#{user.charlinks.hrc}' style='font-size:16px;')
                            i.ion-information-circled
                p The Human Rights Campaign is America's largest civil rights organization working to achieve lesbian, gay, bisexual and transgender equality.

              td
                .form-group(style="margin-left: 30px;")
                    label.radio(style="color:green;vertical-align: middle;")
                      input(type='radio', checked=user.charities.hrc=='1', name='hrc', value='1', data-toggle='radio')
                      span Yes.
                    label.radio(style="color:red;vertical-align: top;")
                      input(type='radio', checked=user.charities.hrc=='0', name='hrc', value='0', data-toggle='radio')
                      span No.
            tr
              td 3
              td
                strong
                    p World Wildlife Foundation (WWF) &nbsp;
                        a(href='#{user.charlinks.wwf}' style='font-size:16px;')
                            i.ion-information-circled
                p The leading organization in wildlife conservation and endangered species

              td
                .form-group(style="margin-left: 30px;")
                    label.radio(style="color:green;vertical-align: top;")
                      input(type='radio', checked=user.charities.wwf=='1', name='wwf', value='1', data-toggle='radio')
                      span Yes.
                    label.radio(style="color:red;vertical-align: top;")
                      input(type='radio', checked=user.charities.wwf=='0', name='wwf', value='0', data-toggle='radio')
                      span No.




         .form-group(style="margin-bottom: 0px;")
                label
                    button.btn.btn-block.btn-green.btn-social(type='submit',style='text-align:center;position:fixed;bottom:-10px;z-index:2;left:0px;border-radius:0px;padding-left:0')
                              | Update Charities
