extends ../layout



block content
    h1 Charities
    div
      form.form-horizontal(action='/charities', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-2.control-label(for='donatecheck') test
          .col-sm-4
            label.radio
              input(type='radio', checked=user.charities.donatecheck=='0', name='donatecheck', value='0', data-toggle='radio')
              span Not Donating
            label.radio
              input(type='radio', checked=user.charities.donatecheck=='female', name='donatecheck', value='1', data-toggle='radio')
              span Donating
        .form-group
          label.col-sm-1.control-label(for='location') Location
          .col-sm-4
            input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
        .form-group
          label.col-sm-1.control-label(for='website') Website
          .col-sm-4
            input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
        .form-group
          label.col-sm-5.control-label
            button.btn.btn-block.btn-green.btn-social(type='submit',style='text-align:center;')
              | Update Profile