.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        | CharityDrops
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if !user
              li(class=title=='Home'?'active':undefined)
                a(href='/') Home
              li(class=title=='Charities'?'active':undefined)
                a(href='/charities') Charities
              li(class=title=='Action Center'?'active':undefined)
                a(href='/action') Action Center
            
        else
              li(class=title=='Home'?'active':undefined)
                a(href='/dashboard') Dashboard
              li(class=title=='Charities'?'active':undefined)
                a(href='/charities') Charities
              li(class=title=='Action Center'?'active':undefined)
                a(href='/action') Action Center
      
      
      
      
      
      
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Register with Facebook'?'active':undefined)
            a(href='/auth/facebook') Register with Facebook
            
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}', style='border-radius: 50%;')
              else
              | Hi, #{user.profile.name || user.email || user.id}!&nbsp 
              span.ion-chevron-down
            ul.dropdown-menu
              li
                a(href='/account')
                  span.ion-person
                  | My Account
             
              li
                a(href='/account/payment')
                  span.ion-card
                  | Payment Information
           
              li
                a(href='/logout')
                  span.ion-log-out
                  |  Logout
              li
                center
                  | #{user._id}