.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/dashboard')
        | CharityDrops
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if !user  
        else
              li(class=title=='Home'?'active':undefined)
                a(href='/dashboard') Dashboard
              li(class=title=='Charities'?'active':undefined)
                a(href='/charities') Charities
              li(class=title=='Payment Information'?'active':undefined)
                a(href='/account/payment') Payment Information
      
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/') Login
          li(class=title=='Learn More'?'active':undefined)
            a(href='/more') Learn More
            
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}', style='border-radius: 50%;')
              else
              | Hi, #{user.profile.name || user.email || user.id}!&nbsp 
              span.ion-chevron-down
            ul.dropdown-menu
              li
                a(href='/account')
                  span.ion-ios7-gear
                  | Account Settings
             
              li
                a(href='/account/payment')
                  span.ion-card
                  | Change Payment Information
           
              li
                a(href='/logout')
                  span.ion-log-out
                  | Logout
              li
                center
                    if user.charities.donatecheck == "1"
                        span.ion-checkmark-circled(style="color:green;text-align:right;") &nbsp;You are donating!
                    else
                        span.ion-checkmark-circled(style="color:red;") &nbsp;You are not currently donating,
                        #[a(href="/account/payment" style="text-decoration:underline;") lets change that]
